/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(assets/anton-shuvalov-uaGHBgz6IcI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}